/*
Header {
Fondo principal (Degradado): #1d71b8 -> #003595
Nombre Universidad (Degradado): #003595 -> #1d71b8
Menú color: #b89d2b
Color: white
}
*/

/*=====Estilos generales=====*/
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(90deg,#1d71b8,#003595);
    color: white;
}
.line {
    border-top: 6px solid #b89d2b;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}

/*=====Estilo de logos y facultad=====*/
.logoUAS, .logoFacultad{
    display: flex;
    align-items: center;

}
.logoUAS img, .logoFacultad img{
    width: 200px; 
    height: 140px;
    margin-right: 0;
    object-fit: contain; 
    margin: 0;
    padding: 0;
    
}
.NombreUAS{
    background: linear-gradient(-90deg,#1d71b8,#003595);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    height: 60px;
}
.NombreUAS h4{
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
.NombreFacultad {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    text-align: right;
    color: white;
}

/*=====Estilo menu=====*/
nav {
    background-color: #c49e0d;
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: 20%;
    left: 0;
    right: 0;
}
nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 0 15px;
}

/*=====Estilo submenu=====*/
.submenu {
    display: none;
    position: absolute;
    background-color: #123392;
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: absolute;
    left: 0;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.submenu li {
    padding: 10px;
    text-align: left;
}
.submenu li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.submenu li a:hover {
    background-color: #123392;
}
nav > ul > li:hover > .submenu {
    display: block;
}

/*=====Estilo lista del menu=====*/
.ulmenu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.limenu {
    position: relative;
    display: inline-block;
}

/*=====Estilo apartado SLIDER=====*/

.contenedor {
    max-width: 100%;
    max-height: 350px;
    box-sizing: border-box;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    max-height: 350px;;
    margin: 0 auto;
    box-sizing: border-box;
}

.slider-content {
    display: flex;
    max-height: 350px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider-box .container{
    display: flex;
    /* aspect-ratio: 19/6; */
}

.col-img{
    padding: 0 12px;
}

.col-img img{
    width: 478.22px;
    height: 269px;
}

.col-cont {
    padding: 0 12px;
}

.col-cont p {
    display: block;
    width: 500px;
    max-width: 40%;
}

.slider-indicators {
    display: flex;
    position: absolute;
    column-gap: 12px;;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    z-index: 1;
}

.slider-indicators a {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1d71b8;
}

.slider-indicators a:hover {
    background-color: #003595;
}

/* .active {
    display: block;
} */



/*=====Estilo apartado tarjetas=====*/
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
.section-header h2 {
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
}
.section-header p {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
}
.fila {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.tarjeta {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    flex: 1;
}
.tarjeta img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.tarjeta h3 {
    font-size: 1.2rem;
    margin: 20px 0 10px;
}
.tarjeta p {
    font-size: 0.9rem;
    color: #666;
}
.tarjeta button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 0.9rem;
    color: white;
    background: #123392;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.tarjeta button:hover {
    background:#c49e0d;
}

/*=====Estilo apartado certificaciones=====*/
.certificaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 10px;
    background-color: #123392;
    color: white;
}
.certificaciones h2 {
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
}
.certificaciones p {
    font-size: 1rem;
    color: white;
    margin-top: 10px;
}
/*=====Estilo apartado footer=====*/
footer {
    background-color: #c49e0d;
    padding: 0;
    position: relative;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: auto; 
    margin: 0 auto; 
    height: 75px;
  }
  
  .logo-izquierda img, .logo-derecha img {
    width: 100px; 
    height: 75px; 
    object-fit: contain; 
    margin: 0;
    padding: 0;
  }

  .footer-text {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    color: white;
  }
  

    